<!-- playerList.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player List</title>
    <link rel="stylesheet" href="/css/cForm.css">
</head>
<body>
    <div class="container">
        <h1>Player List</h1>
        <!-- 검색 폼 추가 -->
        <ul class="player-list">
            <% players.forEach(player => { %>
                <li>
                    <a href="/players/<%= player._id %>" class="player-link button-link"><%= player.name %></a>
                </li>
            <% }) %>
        </ul>
        <div class="create-container">
            <a href="/players/create" class="create-link button-link">Create Player</a>
        </div>
    </div>
</body>
</html>
