<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="navbar.html :: navbar"></div>
<div class="container">
    <h1>Post</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${post.getTitle()}"></h5>
            <p class="container">
                <span th:text="${post.getContent()}">Post</span>
            </p>
            <p>
                <span th:text="${post.getWriter()}">Writer</span><br>
                <span th:text="${post.getWriteTime()}"></span>
            </p>
            <a th:href="@{/posts/update/{id}(id=${post.getPostId()})}" class="btn btn-primary">수정</a>
        </div>
    </div>
</div>
</body>
</html>
