<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h1>오류가 발생했습니다</h1>
  <h3 class="text-bg-dark">죄송합니다. 요청을 처리하는 도중 오류가 발생했습니다.</h3>
  <a href="/employees" class="btn btn-primary">직원 목록으로 돌아가기</a>
</div>
</body>
</html>
