<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Employee</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="navbar.html :: navbar"></div>
<h1>Login</h1>
<form action="/login" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>
</body>
</html>
