/* cForm.css */

body {
    font-family: 'Bookman Old Style', serif; /* 글꼴을 Bookman Old Style로 설정 */
    background-color: #121212; /* 배경색을 어두운 색상으로 설정 */
    color: #c4c4c4; /* 텍스트 색상을 밝은 노란색으로 설정 */
    margin: 0; /* body의 margin을 초기화하여 전체 화면으로 확장 */
}

.container {
    padding: 40px;
    background-color: #333333; /* 배경색을 어두운 색상으로 설정 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* 컨테이너를 브라우저 창 전체 높이로 설정 */
    justify-content: center; /* 컨테이너의 내용을 수직 가운데 정렬 */
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    color: #fbfb9c; /* 글씨색을 밝은 노란색으로 설정 */
    font-family: 'Bookman Old Style', serif; /* 제목에도 Bookman Old Style 글꼴 적용 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* 텍스트 그림자 설정 */
}

.player-list {
    list-style-type: none;
    padding: 0;
}

.player-list li {
    text-align: center; /* 플레이어 리스트 아이템 가운데 정렬 */
}

a.player-link,
a.create-link {
    display: inline-block;
    padding: 15px 30px;
    background-color: #6c757d; /* 버튼 배경색 */
    color: #ffffff; /* 버튼 텍스트 색상 */
    text-decoration: none;
    border-radius: 8px;
    font-family: 'Bookman Old Style', serif; /* 버튼에도 Bookman Old Style 글꼴 적용 */
    margin-bottom: 10px; /* 버튼 간격 조절 */
    transition: background-color 0.3s; /* 배경색 변화에 대한 transition 효과 */
}

a.player-link:hover,
a.create-link:hover {
    background-color: #495057; /* 버튼 hover 시 배경색 */
}

button[type="submit"] {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffd2fe; /* 버튼 배경색 */
    color: #000000; /* 버튼 텍스트 색상 */
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-family: 'Bookman Old Style', serif; /* 버튼에도 Bookman Old Style 글꼴 적용 */
    cursor: pointer;
    transition: background-color 0.3s; /* 배경색 변화에 대한 transition 효과 */
}

button[type="submit"]:hover {
    background-color: #495057; /* 버튼 hover 시 배경색 */
}
